%p
  = @idea.headline

= form_for @idea, :url => update_assignment_idea_path(@idea) do |idea_form|
  .field
    = idea_form.text_field :headline
  .field
    = idea_form.fields_for :writer do |writer_form|
      = writer_form.label :name, 'name: '
      = writer_form.autocomplete_field :name, autocomplete_writer_name_ideas_path
      = writer_form.label :email, 'email: '
      = writer_form.autocomplete_field :email, autocomplete_writer_email_ideas_path
      = unless (not writer_form.object.nil?) and writer_form.object.new_record?
        = writer_form.label :_delete, 'Remove:'
        = writer_form.check_box :_delete
    
  .actions
    = idea_form.submit 'Save'

= link_to 'Back', ideas_path
