.container#assignments
  - unless @assignments.empty?
    - @assignments.each do |a|
      %p!= "#{a.writer_id} #{a.idea_id} #{link_to "Delete", a, :confirm => "Are you sure?", :method => :delete}"

  - if @assignments.empty?
    %h1 No assignments right now.
    %h2!= "Why don't you make some on the #{link_to "ideas page", ideas_path}?"
