- unless @assignments.empty?
  %table 
    %thead
      %th Headline
      %th Writer
      %th 
    %tbody
      - @assignments.each do |a|
        %tr{:class => cycle("odd", "even"), :id => "idea-#{a.id}"}
          %td.idea= Idea.find(a.idea_id).headline
          %td.writer= Writer.find(a.writer_id).name
          %td.actions= link_to "Unassign", a, :confirm => "Are you sure?", :remote => true, :method => :delete

- if @assignments.empty?
  %h1 No assignments right now.
  %h2!= "Why don't you make some on the #{link_to "ideas page", ideas_path}?"
