%h1 Issues

%table
  %tr
    %th Volume
    %th Issue
    %th Submission Deadline
    %th Printing Deadline
    %th Distribution Date
    %th 
    %th
    %th
    %th

  - @issues.each do |issue|
    %tr
      %td= issue.volume
      %td= issue.issue
      %td= issue.submission_deadline.strftime "%X, %Y %B %d" unless issue.submission_deadline.nil?
      %td= issue.printing_deadline.strftime "%X, %Y %B %d" unless issue.printing_deadline.nil?
      %td= issue.distribution.strftime "%X, %Y %B %d" unless issue.distribution.nil?
      %td= link_to 'PDF', issue.published_issue.url unless issue.published_issue.blank?
      %td= link_to 'Show', issue
      %td= link_to 'Edit', edit_issue_path(issue)
      %td= link_to 'Delete', issue, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Issue', new_issue_path
