%p#notice= notice

%h1= "Volume #{@issue.volume}, Issue #{@issue.issue}"
%table#metadata
  %tr
    %td Submission Deadline:
    %td= @issue.submission_deadline.to_s :pretty
  %tr
    %td Printing Deadline:
    %td= @issue.printing_deadline.to_s :pretty
  %tr
    %td Distribution:
    %td= @issue.distribution.to_s :pretty
    
- unless @issue.articles.empty?  
  %h2 Articles
  = render :partial => 'submissions/table', :locals => { :submissions => @issue.articles }
        
- unless @issue.submissions.empty?  
  %h2 Submissions
  = render :partial => 'submissions/table', :locals => { :submissions => @issue.submissions }


= link_to 'Edit', edit_issue_path(@issue)
\|
= link_to 'Back', issues_path
