%p#notice= notice

%h1
  = "Volume #{@issue.volume}, Issue #{@issue.issue}"

#edit_link= link_to 'Edit', edit_issue_path(@issue)
#metadata
  %h3 Metadata
  %table
    %tr
      %td Published Issue:
      %td= link_to 'PDF', @issue.published_issue.url
    %tr
      %td Submission Deadline:
      %td= @issue.submission_deadline.to_s :pretty
    %tr
      %td Printing Deadline:
      %td= @issue.printing_deadline.to_s :pretty
    %tr
      %td Distribution:
      %td= @issue.distribution.to_s :pretty

#attachments  
  - unless @issue.attachments.empty?    
    %h3 Attachments
    %ul
    - @issue.attachments.each do |a|
      %li= link_to a.description, a.file.url
  
#articles
  - unless @issue.articles.empty?  
    %h2 Articles
    = render :partial => 'submissions/table', :locals => { :submissions => @issue.articles }
        
#submissions
  - unless @issue.submissions.empty?  
    %h2 Submissions
    = render :partial => 'submissions/table', :locals => { :submissions => @issue.submissions }
