!!!HTML5
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1= "Hi #{@writer.name}!"
    %p  
      The deadline for submission to 
      = "Volume #{@current_issue.volume}, Issue #{@current_issue.issue}"
      is 
      %strong= @current_issue.submission_deadline.to_s(:pretty)
    %p 
      Why am I telling you this? You said you'd write something for us! Of the article(s) that you claimed, we haven't yet received your submissions for the following:
      %ul 
        - @assignments.each do |a|
          %li= a.idea.headline
    %p
      Don't let us down, you're our only hope! If you think that you sent us any of these already, send them again just to be safe, we may have missed the email.
    %p 
      Send your submissions to 
      %a{:href => "mailto:submissions@chicagoshadydealer.com"} submissions@chicagoshadydealer.com
      by 
      %strong= @current_issue.submission_deadline.to_s(:pretty)
    %p 
      Thanks!
      %br/
      %strong Leviathan
