
= form_for @submission do |f|
  -if @submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :headline
    = f.text_field :headline
  .field
    = f.label :byline
    = f.text_field :byline
  .field
    = render :partial => 'wysihtml5_toolbar'
    = f.label :body
    = f.text_area :body, :id => 'wysihtml5-textarea'
  .actions
    = f.submit 'Save'

:javascript
  var editor = new wysihtml5.Editor("wysihtml5-textarea", {
    toolbar:      "wysihtml5-toolbar",
    stylesheets:  "/assets/wysiwyg.css",
    parserRules:  wysihtml5ParserRules
  });

