= form_for @submission do |f|
  -if @submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :headline
    = f.text_field :headline
  .field
    = f.label :byline
    = f.text_field :byline
  .field
    = f.label :body
    = f.hidden_field :body

    %a{:id => "toggle_changes"}
      Show/Hide Changes
    %a{:id => "accept_all"}
      Accept all changes
    %a{:id => "reject_all"}
      Reject all changes
    %a{:id => "accept_change"}
      Accept change
    %a{:id => "reject_change"}
      Reject change

    %div{:id => 'submission_body_editable', :class => 'editable', :contenteditable => "true", :style => "height: 800px; width: 600px; background: white;"}
      %p Start writing here.
  .actions
    = f.submit 'Save', :id => "submission_save"

:javascript
  jQuery(document).ready(function() {
    Ice.tracker.setCurrentUser({
      id: "#{current_editor.id}",
      name: "#{current_editor.name}"
    });
  });
