- unless @submissions.empty?
  %table
    %thead
      %th Headline
      %th Byline
      %th Writer
      %th
      %th
      %th
    %tbody
      - @submissions.each do |submission|
        %tr{:class => cycle("odd", "even")}
          %td= submission.headline
          %td= submission.byline
          %td= submission.writer.name
          %td= link_to 'View', submission
          %td= link_to 'Edit', edit_submission_path(submission)
          %td= link_to 'Delete', submission, :confirm => 'Are you sure?', :method => :delete

- if @submissions.empty?
  %h1 No submissions right now.
  %h2!= "Why not ask the staff to make some on the #{link_to "submissions page", new_submission_path}?"
