%h1#headline= @submission.headline
%h2#byline= "by #{@submission.byline}"
%div
  #body!= @submission.clean_body
  = render :partial => 'submissions/metadata', :locals => { :submission => @submission }
  #edit_link= link_to 'Edit', edit_submission_path(@submission)
  
  - if @submission.notes.present?
    #notes
      %h3 Notes
      = @submission.notes
      
  - if @submission.image.file.present?
    #images
      %h3 Image Variations
      = image_tag @submission.image.file_url(:primary)
      = image_tag @submission.image.file_url(:secondary)

