%h1 Writers

%table
  %tr
    %th Name
    %th Email Address
    %th
    %th

  - @writers.each do |writer|
    %tr
      %td= writer.name
      %td= writer.email
      %td= link_to 'Edit', edit_writer_path(writer)
      %td= link_to 'Destroy', writer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Writer', new_writer_path
