%h1 
  Writers
  &mdash;
  = link_to 'Remind All', remind_all_writers_path, :remote => true, :confirm => "Are you sure you want to send reminder emails to all writers?"
%table
  %tr
    %th Name
    %th Email Address
    %th
    %th
    %th

  - @writers.each do |writer|
    %tr
      %td= writer.name
      %td= writer.email
      %td= link_to 'Assignments', :action => "index", :controller => "assignments", :writer => writer
      %td= link_to 'Send Reminder', remind_writer_path(writer), :remote => true
      %td= link_to 'Edit', edit_writer_path(writer)
      %td= link_to 'Destroy', writer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Writer', new_writer_path
