= form_for @editor do |f|
  -if @editor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@editor.errors.count, "error")} prohibited this editor from being saved:"
      %ul
        - @editor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :roles
    = f.collection_select :role_ids, Role.all, :id, :display_name, {:selected => @editor.role_ids, :include_blank => true}, {:multiple => true}

  .field
    = f.label :approved
    = f.check_box :approved
  .actions
    = f.submit 'Save'
