%h1 Editors
= link_to "All Editors", :action => "index"
| 
= link_to "Editors awaiting approval", :action => "index", :approved => "false"

%table
  %tr
    %th First name
    %th Last name
    %th Email Address
    %th Roles
    %th Approved?
    %th
    -#%th
    %th

  - @editors.each do |editor|
    %tr
      %td= editor.first_name
      %td= editor.last_name
      %td= editor.email
      %td= editor.roles.map {|x| x.display_name}.join ", "
      %td= editor.approved
      -#%td= link_to 'Show', editor
      %td= link_to 'Edit', edit_editor_path(editor)
      %td= link_to 'Delete', editor, :confirm => 'Are you sure?', :method => :delete
