%nav#navbar
  #branding
    %span.brandname Linus
  %ul#main
    %li#status-nav
      = link_to 'Status', '/'
    %li#ideas-nav
      = link_to 'Ideas', ideas_path
    %li#assignments-nav
      = link_to 'Assignments', assignments_path
    %li#submissions-nav
      = link_to 'Submissions', submissions_path
    %li#articles-nav
      = link_to 'Articles', '/' #articles_path
    %li#issues-nav
      = link_to 'Issues', issues_path

  %ul#session
    %li#session-nav
      = session_link
