= image_tag @image.file_url(:original), :id => "cropbox"

%h3 Preview
.preview{:style => "width: 480px; height: 200px; overflow: hidden;" }
  = image_tag @image.file_url(:primary), :id => "preview"

= form_for :image do |f|
  - for attribute in %w[x y h w]
    = f.hidden_field "crop_#{attribute}", :id => "crop_#{attribute}"
  = f.submit "Crop"
