:css
  #preview {
    background-image: url('#{@image.file_url(:large)}');
    width: 480px;
    height: 200px;
    overflow: hidden;
  }
  
= image_tag @image.file_url(:large), :id => "original"

%h3 Preview
#preview

= form_for @image do |f|
  = f.hidden_field :imageable_id
  - for attribute in %w[x y h w]
    = f.hidden_field "crop_#{attribute}", :id => "crop_#{attribute}"
  = f.submit "Crop"
