!!!HTML5
%html
  %head
    %title Linus
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:class => controller.controller_name}
    = render 'common/navbar'
    - flash.each do |name, msg|
      = content_tag :div, msg, :class => "flash", :id => "#{name}" if msg.is_a?(String)

    = yield
